@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--black);
}
:root {
  --black: #040404;
  --white: #fbfbfb;
  --aquarium: #7fffd4;
  --card: #121212;
  --sevice: #0b0c10;
  --txtarea: #222;
  --contact: rgb(21, 20, 20);
  --alpha: #e9ebeb;
   --clr: #2c9c8c;
   --about:rgb(26, 25, 25);
}

.dark {
  --black: #fbfbfb;
  --white: #040404;
  --aquarium: #2c9c8c;
  --card: #ededed;
  --sevice: #f4f3ef;
  --txtarea: #dddddd;
  --contact: #e9ebeb;
  --alpha: #222;
  --about:#f4f2f2c4;
 
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: 0.5s;
  background: cross-fade(20%) var(--black);
}
header.sticky {
  padding: 20px 100px;
  box-shadow: 0 5px 20px aquamarine;
  background: var(--black);
}
header div {
  position: relative;
  display: flex;
  align-items: center;
}

header .btns {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;

  border: solid #7fffd4;
  border-radius: 50%;
}
header .btns ion-icon {
  font-size: 1.5em;
  color: var(--white);
}

header .btns ion-icon:nth-child(1) {
  display: none;
}
header .btns.active ion-icon:nth-child(2) {
  display: none;
}
header .btns.active ion-icon:nth-child(1) {
  display: block;
}

header .logo {
  color: var(--aquarium);
  font-size: 30px;
  text-decoration: underline;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 10px;
}
header div img {
  width: 50px;
}
header.sticky .logo {
  color: var(--aquarium);
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  color: var(--white);
  text-decoration: none;
}

header ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0%;
  overflow: hidden;
  border-right: 2px solid var(--clr);
  transition: 1s;
  -webkit-text-stroke: 1px var(--clr);
}

header ul li a:hover:before {
  width: 100%;
  filter: drop-shadow(0 0 35px var(--clr));
}
section {
  background: var(--black);
  padding: 100px;
}

.banner {
  position: relative;
  min-height: 100vh;
  background: url(images/bga.png) var(--black);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner h2 {
  font-size: 4em;
  color: var(--white);
  font-weight: 500;
  line-height: 1.5em;
}
.banner h2 span {
  font-size: 1.8em;
  font-weight: 600;
}
.banner h3 {
  color: var(--white);
  font-size: 2em;
  font-weight: 500;
}

.banner h3 span {
  color: aquamarine;
  text-shadow: 2px 3px black;
}
.banner h4 {
  color: aquamarine;
  font-size: 1.5rem;
  font-weight: 400;
}

.btn {
  position: relative;
  display: inline-block;
  border: solid aquamarine;
  color: var(--white);
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 600;
  animation: ease-in;
}

.btn:hover {
  box-shadow: aquamarine 0px 13px 27px -5px, aquamarine 0px 8px 16px -8px;
  transform: translateY(15px);
  transition: all ease 0.5s;
}

/*profile pic*/
/* .carousel {
  display: flex;
  align-items: center;
  font-family: Arial;
  justify-content: center;
}
.carousel__list {
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  height: 450px;
  justify-content: flex-end;
  perspective: 450px;
}
.carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0px;
  width: 300px;
  height: 450px;
  position: absolute;
  transition: all 0.3s ease-in;
  border-bottom: solid var(--aquarium);
  border-radius: 50%;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
}

.carousel__item[data-pos="0"] {
  z-index: 5;
}
.carousel__item[data-pos="-2"],
.carousel__item[data-pos="2"] {
  opacity: 0.8;
  filter: blur(3px) grayscale(20%);
}
.carousel__item[data-pos="-2"] {
  transform: translateX(-40%) scale(0.9);
  z-index: 4;
}
.carousel__item[data-pos="2"] {
  transform: translateX(40%) scale(0.9);
  z-index: 4;
} */

.sci {
  position: absolute;
  top: 120px;
  right: 100px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.sci li {
  list-style: none;
}
.sci li a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.75em;
  transition: 0.5s;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
.content .servicesBx {
  position: relative;
  padding: 40px 20px;
  max-width: 400px;
  margin: 20px;
  transition: 0.5s;
  text-align: center;
  background: var(--card);
  margin-top: -50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.content .servicesBx:hover {
  border: solid aquamarine;
  box-shadow: 0px 13px 27px -5px #2c9c8c, 0px 8px 16px -8px aquamarine;
}
.content .servicesBx img {
  max-width: 70px;
  transition: 0.5s;
}

.content .servicesBx h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: 600;
  transition: 0.5s;
  color: var(--white);
}

.content .servicesBx:hover h2 {
  color: var(--white);
}
.content .servicesBx p {
  margin: 0;
  transition: 0.5s;
  color: var(--white);
}
.content .servicesBx:hover p {
  color: var(--white);
}
.services {
  background: var(--sevice);
}

.about
{
  background: var(--about);
}

.about .title h2 {
  font-size: 3em;
  color: var(--white);
  font-weight: 500;
  line-height: 1.5em;
  text-align: left;
  padding: 0px 90px;
  position: relative;
}

.about .title p {
  color: var(--aquarium);
  padding: 0px 90px;
}
.about .title h2::before {
  content: "";
  display: block;
  width: 80px;
  height: 6px;
  background: aquamarine;
  left: 0;
  top: 50%;
  position: absolute;
}

.about .content
{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  flex-wrap: nowrap;
  
}
.about .content .textBx
{
  min-width: 60%;
  width: 49%;
}
.about .content .textBx p
{
  color: var(--white);
  font-size: 17px;
}
.about .content .imgBx
{
  margin-left: 70px;
}
.about .content .imgBx img
{
  max-width: 100%;
}

.services .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.services .title {
  display: block;
  padding: 20px;
}

.services .title h2 {
  font-size: 3em;
  color: var(--white);
  font-weight: 500;
  line-height: 1.5em;
  text-align: left;
  padding: 0px 90px;
  position: relative;
}

.services .title p {
  color: var(--aquarium);
  padding: 0px 90px;
}
.services .title h2::before {
  content: "";
  display: block;
  width: 80px;
  height: 6px;
  background: aquamarine;
  left: 0;
  top: 50%;
  position: absolute;
}

.services .content .skillbx {
  background-color: var(--card);
  border-radius: 6px;
  padding: 15px;
  max-width: 340px;
  margin: 20px;
  overflow: hidden;
  font-weight: 400;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-bottom: 4px solid var(--white);
}

.services .content .skillbx:hover {
  color: aquamarine;
  border-bottom: 6px solid var(--aquarium);
}

.services .content .skillbx::before {
  content: "";
  position: absolute;
  top: -75px;
  left: -45px;
  z-index: -1;
  background: rgb(22, 24, 23);
  background: linear-gradient(
    129deg,
    rgba(22, 24, 23, 0.697916666666) 2%,
    aquamarine 6%
  );
  border-radius: 50%;
  width: 200px;
  height: 200px;
  transition: 0.4s;
}

.services .content .skillbx:hover::before {
  transform: scale(4.5);
}

.services .content .diff {
  position: relative;
  padding: 15px;
  max-width: 340px;
  margin: 20px;
  transition: 0.5s;
  background-color: aquamarine;
  border-radius: 6px;
  border-bottom: 4px solid var(--white);
}

.services .content .diff:hover {
  border-bottom: 6px solid var(--aquarium);
}
.services .content .diff h2 {
  color: #040404;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  transition: 0.5s;
}

.services .content .diff p {
  margin: 0;
  transition: 0.5s;
  color: #040404;
}

.services .content .skillbx img {
  max-width: 80px;
  transition: 0.5s;
  top: 15px;
  left: 15px;
}

.services .content .skillbx h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  transition: 0.5s;
  color: var(--white);
}

.services .content .skillbx p {
  margin: 0;
  transition: 0.5s;
  color: var(--white);
}

.services .content .skillbx:hover p {
  color: #040404;
}

.services .content .skillbx:hover h2 {
  color: #040404;
}

/*work area*/
.work {
  background: var(--card);
}

.work .title {
  display: flex;
  justify-content: space-between;
}

.work .title h2 {
  font-size: 3em;
  color: var(--white);
  font-weight: 500;
  line-height: 1.5em;
  text-align: left;
  padding: 0px 10px 0px 90px;
  position: relative;
}

.work .content .workBx .btn {
  position: relative;
  display: inline-block;
  border: solid aquamarine;
  color: black;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
}
.work p {
  color: var(--aquarium);
  padding: 20px 0px 20px 90px;
}
.work .title h2::before {
  content: "";
  display: block;
  width: 80px;
  height: 6px;
  background: aquamarine;
  left: 0;
  top: 50%;
  position: absolute;
}

.work .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.work .content .workBx {
  position: relative;
  width: 265px;
  height: 265px;
  margin: 10px;
  transition: 0.5s;
  text-align: center;
}
.work .content .workBx .imgBx,
iframe .work .content .workBx .textBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.work .content .workBx .imgBx img,
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.work .content .workBx .textBx {
  background: var(--black);
  opacity: 0;
  transition: 0.5s;
}
.work .content .workBx:hover .textBx {
  opacity: 0.5;
}
.work .content .workBx .textBx h3 {
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  text-align: center;
}

.work .content .image-effect {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);
}

.work .content .btn-effect {
  display: flex;
  align-items: center;
  justify-content: center;
}

.work .content .workBx:hover .btn {
  box-shadow: aquamarine 0px 13px 27px -5px, aquamarine 0px 8px 16px -8px;
  font-size: 25px;
  transition: all ease 0.5s;
}
/*contact area*/

.contact {
  background: var(--contact);
}
.contact .title {
  display: block;
  padding: 20px;
}

.contact .title h2 {
  font-size: 3em;
  color: var(--white);
  font-weight: 500;
  line-height: 1.5em;
  text-align: left;
  padding: 0px 10px 0px 90px;
  position: relative;
}

.contact p {
  color: var(--aquarium);
  padding: 20px 0px 20px 90px;
}
.contact .title h2::before {
  content: "";
  display: block;
  width: 80px;
  height: 6px;
  background: aquamarine;
  left: 0;
  top: 50%;
  position: absolute;
}
.formBx {
  min-width: 60%;
}
.formBx form {
  display: flex;
  flex-direction: column;
}
.formBx form h3,
.contactInfo h3 {
  color: var(--aquarium);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.formBx form input,
.formBx form textarea {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  background: var(--txtarea);
  resize: none;
  color: var(--white);
}
.formBx form input::placeholder,
.formBx form textarea::placeholder {
  color: #999;
}
.formBx form textarea {
  min-height: 200px;
}
.formBx form .btn {
  color: var(--white);
  background-color: transparent;
  max-width: 150px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: solid aquamarine;
}
.contactInfo {
  min-width: 40%;
}
.contactInfoBx {
  position: relative;
}
.contactInfoBx .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contactInfoBx .box .icon {
  min-width: 40px;
  padding-top: 4px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;
}
.contactInfoBx .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: var(--white);
  flex-direction: column;
  font-weight: 300;
}
.contactInfoBx .box .text h3 {
  font-weight: 500;
  color: var(--aquarium);
  margin-bottom: 0;
}
.contactInfoBx .box .text p {
  font-weight: 300;
  color: var(--white);
}

/*fotter area*/

.footer * {
  box-sizing: border-box;
}
.footer {
  padding: 70px 0 0;
  background-color: var(--black);
  box-sizing: border-box;
  width: 100%;
  font-size: 1em;
}

.footer h2 {
  color: var(--aquarium);
  text-decoration: underline;
}
.footer .cont {
  max-width: 1170px;
  margin: auto;
}
.footer .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: var(--white);
  align-items: center;
}
.footer .row > div:nth-child(1) {
  width: 35%;
}
.footer .row > div {
  width: 20%;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.footer .row img {
  margin: 20px 0;
  width: 281px;
}

.footer .row h4 {
  background-color: #2c9c8c;
  color: aquamarine;
  width: fit-content;
  border-radius: 7px;
  padding: 5px 10px;
  font-weight: 600;
}

.footer .row ul,
.footer .row li {
  list-style-type: none;
  padding-left: 0;
  margin: 15px 0;
  transition: 0.3s;
}

.footer .row li {
  transform: translateX(-15px);
}
.footer .row li::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 8px solid #2c9c8c;
  border-bottom: 5px solid transparent;
}
.footer .row li:hover {
  transform: translateX(0);
}
.footer .row ul a {
  text-decoration: none;
  color: var(--white);
  margin-left: 15px;
}

.footer .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  height: 80px;
  background-color: rgb(10, 10, 10);
  color: rgb(255, 255, 255, 0.7);
  font-size: 0.8em;
}
/*icon bottom*/

.socialButton {
  display: flex;
  align-items: center;
  gap: 25px;
  cursor: pointer;
  justify-content: space-around;
}
.socialButton a {
  text-decoration: none;
  color: var(--aquarium);
  font-size: 1.75em;
}
.socialButton ion-icon {
  font-size: 50px;
  text-decoration: none;
  transition: 0.3s;
  opacity: 0.7;
  transform: translateY(0);
  border-radius: 10px;
}
.socialButton ion-icon:hover {
  opacity: 1;
  transform: translateY(-15px);
}

/*default*/

.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: var(--black);
}
.heading.white {
  color: var(--white);
}
.conetntBx {
  padding-right: 30px;
}
.conetntBx h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.heading h2 {
  font-weight: 600;
  font-size: 30px;
}

.w50 {
  min-width: 50%;
}

/*design process*/
.design {
  background: var(--black);
}

.design .title h2 {
  font-size: 3em;
  color: var(--white);
  font-weight: 500;
  line-height: 1.5em;
  text-align: left;
  padding: 0px 10px 0px 90px;
  position: relative;
}

.design .h {
  color: var(--aquarium);
  padding: 20px 0px 20px 90px;
}
.design .title h2::before {
  content: "";
  display: block;
  width: 80px;
  height: 6px;
  background: aquamarine;
  left: 0;
  top: 50%;
  position: absolute;
}
.project {
  display: flex;
  flex-direction: row;
}

.project .col-sm-4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.process-wrapper {
  margin: auto;
  max-width: 1080px;
}

#progress-bar-container {
  position: relative;
  width: 90%;
  margin: auto;
  height: 100px;
  margin-top: 65px;
}

#progress-bar-container .iconx {
  padding: 0;
  margin: 0;
  padding-top: 15px;
  z-index: 9999;
  position: absolute;
  width: 100%;
  height: auto;
}

#progress-bar-container div {
  display: flex;
  justify-content: space-around;
}

#progress-bar-container div .step-inner {
  position: absolute;
  bottom: 0;
  width: 60px;
  filter: grayscale(1);
}

#progress-bar-container div .active .step-inner {
  width: 100px;
  transition: all ease 0.5s;
  filter: none;
}

#progress-bar-container div .active::after {
  content: "";
  display: block;
  width: 40px;
  height: 6px;
  background: aquamarine;
  position: absolute;
}

#progress-bar-container #line {
  width: 80%;
  margin: auto;
  background: #ededed;
  height: 6px;
  position: absolute;
  left: 10%;
  top: 40px;
  z-index: 1;
  border-radius: 50px;
  transition: all ease 0.9s;
}

#progress-bar-container #line-progress {
  content: " ";
  width: 7%;
  height: 100%;
  background: aquamarine;
  background: linear-gradient(to right, #207893 0%, aquamarine 100%);
  position: absolute;
  z-index: 2;
  border-radius: 50px;
  transition: all ease 0.9s;
}

#progress-content-section {
  width: 90%;
  justify-content: center;
  min-height: 220px;
  margin: auto;
  align-content: center;
  text-align: center;
  border-radius: 4px;
}

#progress-content-section .section-content {
  padding: 30px 40px;
  text-align: center;
}

#progress-content-section .section-content h2 {
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 1px;
}

#progress-content-section .section-content p {
  font-size: 16px;
  line-height: 1.8em;
  color: var(--alpha);
}

#progress-content-section .section-content {
  display: none;
  animation: FadeInUp 700ms ease 1;
  animation-fill-mode: forwards;
  transform: translateY(15px);
  opacity: 0;
}

#progress-content-section .section-content.active {
  display: block;
}

@keyframes FadeInUp {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.design .plan-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.design .plan-footer p {
  color: var(--aquarium);
  padding: 10px 0px 10px 0px;
}

.design .plan-footer .btn:hover {
  transform: translateY(15px);
  transition: all ease 0.5s;
}
/* Responsive */
@media only screen and (max-width: 1170px) {
  .footer .row > div {
    width: 50% !important;
    margin-bottom: 30px;
  }
  .footer .mob {
    display: none;
  }
}
@media only screen and (max-width: 574px) {
  .footer .row > div {
    width: 100% !important;
  }

  .footer .mob {
    display: none;
    align-items: center;
  }

  .footer .display {
    display: none;
    margin: 15px 0px;
  }
  .footer .mob2 {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
    font-size: 75%;
  }
  .footer .display {
    display: none;
  }

  .footer .row ul,
  .footer .row li {
    margin-left: 20px;
  }
}
